body {
	background-image: url(../images/rainbow.jpg);
}

#headpanel {
	background-color: #00FFFF; 
	color: #FF00FF; 
	border: 5px outset #00FF00;
	margin-top: 15px;
	position: relative;
}


#traintable {
	background-color: #00FF00;

}

#pan2 {
	border: 5px outset #32CD32;
}

#addtable {
	background-color: #00FF00;
	border: 5px outset #32CD32;

}

.input-group {
	width: 95%;
	margin-left: 28px;

}

#train-submit {
	margin-top: 10px;
	margin-left: 42%;
	margin-bottom: 10px;
	height: 41px;
	width: 144px;
	background-color: #00FFFF;
	color: #FF00FF;
	font-size: 21px;
	font-weight: bold;
	border: 2px outset #32CD32;
}

#cat1 {
	width: 150px;
	height: 100px;
	position: absolute;
	left: 47px;
	border: 4px outset #FF00FF;
}

#cat2 {
	width: 150px;
	height: 100px;
	position: absolute;
	right: 47px;
	top: 51px;
	border: 4px outset #FF00FF;
}

#parrot1 {
	width: 30px;
	height: 25px;
	position: absolute;
	left: 410px;
	bottom: 19px;
	border: 2px outset #FF00FF;
}

#parrot2 {
	width: 30px;
	height: 25px;
	position: absolute;
	bottom: 19px;
	right: 441px;
	border: 2px outset #FF00FF;
}